/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

:root{
    --very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
    --dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
    --soft-violet: hsl(277, 64%, 61%); /*(accent)*/

    --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --slightly-transparent-white-mainP: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --slightly-transparent-white-statH: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}

body{
    background-color: var(--very-dark-blue);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

h1, h2{
    font-family: 'Inter', sans-serif;
}

h1{
    text-align: center;  
    line-height: 1.2;  
    margin-bottom: 1rem;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.media-switcher{
    display: block;
}

.container{
    width: 90%;
    max-width: 400px;
    margin-inline: auto;
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-image-container{
    background-color: var(--soft-violet);
    border-radius: 10px 10px 0 0;
}

.mobile-image{
    border-radius: 10px 10px 0 0;    
    opacity: .5;
}

.info-content{
    width: 85%;
    margin: 2rem auto;
}

.info-content span{
    color: var(--soft-violet);
}

.info-content p{
    text-align: center;
    color: var(--slightly-transparent-white-mainP);    
}

.stats-info{    
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.stats-info p{
    font-size: .9rem;
}

.uppercase{
    text-transform: uppercase;
    color: var(--slightly-transparent-white-statH);
}

.desktop-image-container{
    background-color: var(--soft-violet);
    border-radius: 0 10px 10px 0; 
    display: none;
}

.desktop-image{
    border-radius: 0 10px 10px 0;    
    opacity: .5;
    width: 100%;
}

.attribution{
    color: var(--slightly-transparent-white-statH);
}

.attribution a{
    text-decoration: none;
    color: var(--slightly-transparent-white-statH);
}

.attribution a:hover{
    color: var(--soft-violet);
}

@media (min-width: 1020px) {
    .media-switcher{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container{
        width: 90%;
        max-width: 1100px;
    }

    h1{
        text-align: left;
    }

    .info-content{
        margin: 0;
    }

    .info-content p{
        text-align: left;
    }

    .info-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 3rem 0 3rem 3rem;
        justify-content: space-between;
    }

    .stats-info{
        flex-direction: row;        
        margin: 0;
        gap: 3rem;
    }

    .mobile-image-container{
        display: none;
    }

    .desktop-image-container{
        display: block;
        width: 50%;
    }

    .attribution{
        text-align: center;
    }
}